@charset "UTF-8";

* { margin: 0; padding: 0;}
body,html { width: 100%; overflow-x: hidden;}
ul { list-style-type: none;}
a { text-decoration: none;}
input,button,img {border:0; outline: 0; background: none;}

.container {width: 100%; clear:both; }
.hd { clear:both; width:100%; height: 60px;  background-image: url("data/menu/tnb_bg.png"); background-repeat: repeat;  }
.hd_wrap { clear:both; width: 1320px; height: 50px; margin:0 auto; }

/*nav.tnb부분*/
.tnb { width:100%; height: 50px; position:relative; }


.t_left { float: left; height:60px; }
.t_left li { float: left; height:60px;  padding:0 20px; }
.t_left li a { color: white; font-size:15px; font-weight:800; height: 60px; line-height: 60px;}

.t_right{ float: right; height:60px; margin-top: 15px; }
.t_right li { float:left; padding:0 20px; color:#fff; height: 60px; line-height: 60px;}


/*li.cur_lang 부분*/
.cur_lang { width:120px; height:60px; position:relative; }
.cur_lang span { display: block; width: 120px; height: 30px; line-height: 30px; color: white; font-size: 15px; font-weight:600; text-transform: uppercase;   box-sizing:border-box; padding-left: 10px; border:1px solid #fff;  }

.t_right .cur_lang span:after {content:"▼"; display:block; float:right; padding-right:10px;}

.lang_box { display: none; border:1px solid #fff; box-sizing:content-box; background-color:#fff;  width: 120px; height: 100px; transition:0.7s; position: absolute; left: 19px; top: 30px; z-index:99; border-left: 1px solid #eee;  border-right: 1px solid #eee;  border-bottom: 1px solid #eee; box-sizing: border-box; }

.lang_box a { display: block; ; width: 120px; height:25px; color:#000; font-size:15px; font-weight: 700; margin: 0 25px; text-transform: uppercase; }
.lang_box a:first-child { margin-top: -20px; }

.lang_box.on { height:100px; display: block; }
.lang_box.on .cur_lang span:after{ content:"▲";}



.t_right .is a { display:block; width:20px; height:19px; background-image: url("data/icon/list_icon(20x19).png"); background-position: center center;  background-repeat: no-repeat;} 

.t_right .find_la { display: block; width:20px; height:19px; background-image: url("./data/icon/search_white_icon.png");}

/*검색 input 버튼 부분;검색영역 화면전체, 높이 임의*/
#find_open_btn {display: none;}
.find_window { clear:both; width:100%; height:80px; background-color:#e5007f; display:none; position:fixed; top:40px; left:0; overflow: hidden; z-index: 41;}

.find_window .form_box {width:500px; height:100px; margin:0 auto; }

.find_window input {display: block; float: left;  }


.find_window .find_txt {width: 400px;  height: 40px; border-bottom: 2px solid #fff; box-sizing:border-box; }

.find_window .find_btn {width: 50px; height:40px; line-height: 50px; background-image: url("data/icon/search_white_icon.png"); background-repeat:no-repeat; background-position: center center; text-indent:-9999px; } 

/*오른쪽 상위 검색버튼으로 find_window 영역 열고 닫기부분*/

#find_open_btn:checked ~ .find_window{ display: block;}


/*gnb부분:hd_wrap 윗부분에서 clear:both 함*/
.logo img { display: block; float:left; height:66px; padding:10px 50px; }

.gnb{ width:1000px; height:auto; float: right; position: relative; margin-top:20px; z-index: 40;  }


.gnb ul.gnb_wrap:before { content: ""; display: block; width: 2000px; height: 120px; position: absolute; top: 66px; right: 1000px; background-color: #fff; border-bottom: 2px solid #ccc; box-sizing: border-box;
    border-top: 2px solid #ccc; display: none;}
.gnb:hover ul.gnb_wrap:before {display: block;}

.gnb ul{ float:left;}

.gnb .mn{ float: left; padding-right:100px; text-align:left;  }
.gnb .mn a { display: block; text-align: center;}

.gnb .mn > a { color: black; font-size: 20px; font-weight: 700; height:66px; line-height: 66px; padding-top:20px 0; text-align: left; }







/* sub부분 2단메뉴 다시 복습: sub의 div를 형제끼리 겹치기위해 absolute 주고  기준점은 dp1 의 ul 에 줘야 한다.*/
.gnb .sub { width:100vw;  height: 120px; float:left; top:66px; left:0; background-color:#fff; position:absolute; top:66px; left:0; display:none; border-bottom:2px solid #ccc ; box-sizing: border-box; border-top: 2px solid #ccc; }

.gnb li:hover .sub { display:block; }
.gnb .sub .sub_cate { height:100px;  }
.sub_cate li { width:150px; height:auto; padding-right:50px; padding-top:10px; }
.sub_cate .sub_cate_tit { font-size: 17px; color:white; }

.sub_cate_tit span { display:block; width:120px; height:30px; line-height:30px; text-align: center; border:2px solid transparent; box-sizing: border-box; background-color: rgba(229,30,127,0.8); font-weight: 700; }

.sub_cate .sub_br { text-align: center; text-indent: -30px; padding-top:10px; color:black; }

.sub_cate .sub_br:hover a{ font-weight: 700; color:#e5007f; }


/*ftooer 부분*/

.ft { width:1320px; margin: 0 auto; height:auto; clear:both; overflow: hidden; }
.ft_wrap1 {width:1320px; height: auto; clear:both; }
.fnb{ width:100%; height: 50px; background-image:url(data/menu/tnb_bg.png); overflow: hidden; }
.fnb ul { width: 1320px; margin: 0 auto;}
.fnb li { float:left; height: 45px; }
.fnb li a {display: block; width:300px; height:45px; line-height: 45px;  text-align: center; color:#fff; font-size: 16px; font-weight: 600; }

/*배너광장*/
.ft_wrap2 { width:1300px; height: auto; clear:both; }
.ft_banner { width: 1320px; height: 60px; overflow: hidden; border-bottom: 1px solid #eee; }
.ft_banner li { width: 198px; height: 58px; float: left; margin-right: 5px;}
.ft_banner li a { display:block; width: 198px; height: 58px; padding: 5px 5px; float: left; }



/*footer 링크*/
.ft_link { width: 1320px; height: 65px; margin:0 auto; }
.ft_link li { float: left;   height: 30px;  }
.ft_link a { display: block; height: 30px; line-height: 30px; padding: 10px 5px;  color:#000;}
.ft_link a:after { content:"|"; display:block; float:right; padding-left: 10px;}
.ft_link li:last-child a::after {display: none;}

/*fnb_txt_box 부분*/
.fnb_txt_box {width: 1320px; margin:0 auto;}
.fnb_txt_box p {padding: 10px 10px;}
  


/*qiuck*/

.quick { position: fixed; right:10px; top:33%;  width: 140px; height: 100px; z-index: 999px; }
.quick li a {display:block; width:200px; height:130px; overflow: hidden ; }
.quick li span {clear:both; margin: 0 auto; color:#fff; font-size: 18px;}
.quick li .qtxt { display: block; width: 60px;  height: 30px; padding: 15px 0; text-align: center; }
.quick li .qico {display: block; width: 60px; height:60px; clear:both; background-position: center center; margin:0 auto; }

.quick .item1 .qico { background-image: url("./data/quick/quick1.png"); background-repeat: no-repeat; background-position: center center; background-color:darkgoldenrod; border-radius: 35px;}
.quick .item2 .qico { background-image: url("./data/quick/quick3_w.png"); background-repeat: no-repeat; background-position: center center; background-color:#f96a6b; border-radius: 35px;}
.quick .item3 .qico { background-image: url("./data/quick/quick2_w.png"); background-repeat: no-repeat; background-position: center center; background-color:#55dcff; border-radius: 30px;}

.quick .item1 .qtxt { color:darkgoldenrod; }
.quick .item2 .qtxt { color:#f96a6b; }
.quick .item3 .qtxt { color:#55dcff; }

