@charset "UTF-8";

* { margin: 0; padding: 0;}
body,html { width: 100%; overflow-x: hidden;}
ul { list-style-type: none;}

a { text-decoration: none;}
input,button,img {border:0; outline: 0; background: none;}

.container {width: 100%; clear:both;}
.hd {width: 100vw; overflow: hidden; }
.menu_ck {display: none; }


/*로고 및 메뉴리스트와 언어박스 버튼*/
.top_hd { width: 100%; height: 40px;  border-bottom:1px solid #f9f7f8; margin:0 auto; overflow:hidden;  }
.logo img { display: block; float:left; height:30px; width:auto; padding:5px; }
.top_hd label { display: block; float: right; width: 40px; height: 40px; text-indent: -9999px; background-repeat: no-repeat; background-position: center center; }
.top_hd .ls2 { background-image: url("./data/mobile/hd_top_ico_logpink.png");  }
.top_hd .ls { background-image: url("./data/mobile/hd_top_ico_lstpink.png")}




/*nav.tnb부분*/
.tnb { clear:both; width:100vw; height: 110px; background-color:rgba(230,0,119,0.1
);  position:relative; display: none; }

/*tnb 영역 높이 다시 설정 : 랭박스부분 배경 */

.tnb label { display: block; width: 37px; height: 37px; position: absolute; top: 0; right: 0; background-image: url(data/mobile/close_btn.png); background-position: center center; background-color: #e5007f; }

#top_call:checked ~ .tnb {display: block;}

.tnb ul.t_left, .tnb ul.t_right {margin-top:18px; }

.t_left { float: left; width:50vw; height: 80px; }
.t_left li { float: left; padding:10px 0; margin-left: 10px; margin-top: 30px;}
.t_left li a { display: block; color: #000; font-size:15px; width:70px; height: 30px; line-height: 30px;  font-weight:800; text-align: center; background-color: #e5007f; color:#fff; }

/*오른쪽 부분*/
.t_right {float: right; width:50vw; }
.t_right li {float:left;  }

/*li.lang 부분*/
.t_right .lang { width:122px; margin-left: 45px;  margin-top: 40px;  }

.lang_box { color: white; height:130px; background-color:#fff; border: 1px solid #f9f7f8; border-top: 0; display: none; }
.t_right .lang_box a { display:block; color:#000; font-size:13px; font-weight: 700;  text-transform: uppercase; padding:8px 15px; }


.t_right .cur_lang {display:block; width: 120px; height: 30px; color:#000; text-align: center; line-height: 30px; font-size: 15px; border :2px solid  #e5007f; box-sizing: border-box;}

.t_right .lang span:after {content:"▼"; display:block; float:right; padding-right:10px;}


.lang_box.on { height:130px; display: block; }

.lang_box.on .cur_lang span:after{ content:"▲";}

 

/*gnb부분:hd_wrap 윗부분에서 clear:both 함*/

.gnb{ width:100vw; height:100vh; float: right; position: relative; z-index: 40; background-color:rgba(230,0,119,0.1) ; position:fixed; top:0; left: 0; display: none;}

.gnb .mn{ float: left; clear:both; }

.gnb .close_btn { display: block; width: 37px; height :37px; background-image:url(data/mobile/close_btn.png); border:1px solid #f9f7f8; background-repeat: no-repeat; background-position: center center ; background-color: #e5007f; position: absolute; top:0; right: 0}

.gnb ul.gnb_wrap { margin-top: 50px;}
.gnb ul.gnb_wrap a { display: block;  color: #fff; font-size: 20px; font-weight: 700; width: 100vw; height:66px; line-height: 66px; padding-top:20px 0; text-align: left; border-top:1px solid  #f9f7f8 ; background-color: #ef5eae; background-repeat: no-repeat; box-sizing: border-box; padding-left: 20px; text-shadow: 1px 1px 1px #000;}

.gnb ul.gnb_wrap li:first-child a {border-bottom:1px solid  #f9f7f8; }
.gnb ul.gnb_wrap li:last-child a {border-bottom:1px solid  #f9f7f8; }
 
#menu_call:checked ~.gnb { display: block; }
.gnb ul.gnb_wrap li a:hover { background:#e5007f; } 

/*ftooer 부분*/

.ft { width:100%; clear:both; }
.ft_wrap2 {width:100%; height: auto; clear:both; }
.fnb{ width:100%; height: 50px; background-image:url(data/menu/tnb_bg.png); overflow: hidden; }
.fnb ul { width: 100%; margin:0 auto;}
.fnb li { float:left; height: 45px; }
.fnb li a {display: block; width:300px; height:45px; line-height: 45px;  text-align: center; color:#fff; font-size: 16px; font-weight: 600;}

/*배너광장*/
.ft_banner { width: 100%; height: 65px; margin:0 auto; overflow: hidden; }
.ft_banner li { float: left; padding: 5px 10px; }

/*footer 링크*/
.ft_link { width: 100%; margin:0 auto; }
.ft_link li { float: left;  width: 50%; height: 30%; border: 1px solid #ddd; box-sizing: border-box;}
.ft_link ul li:last-child {clear:both; width:100%; } 
.ft_link a { display: block; height: 30px; line-height: 30px; padding: 10px 5px;  color:#fff; font-size: 15px; text-align: center;
}
.ft_link li:first-child a{ background-color: #f87273;}
.ft_link li:nth-child(2n) a{ background-color: #686ff2;}
.ft_link li:nth-child(2n+1) a{ background-color: #f87273;}
.ft_link li:last-child a{background-color:#f22396;}
/*fnb_txt_box 부분*/
.fnb_txt_box {clear:both; width: 100%; margin:0 auto;}
.fnb_txt_box p {padding: 10px 10px;}
  




